h1, .h1 {
  font-size: 1.75rem;
}

// <<<<< INLINE
.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 1rem 12rem;

  @media screen {
    padding-left: 1.5rem;
    max-width: 38rem;
    min-height: 100vh;
  }

  @media screen and (min-width: $break-point-2) {
    max-width: 42rem;
  }

  @media screen and (min-width: $break-point-3) {
    margin-left: 22rem;
    margin-right: 4rem;
    padding-left: 1rem;
  }

  @media screen and (min-width: $break-point-4) {
    float: left;
    width: 100%;
    margin-left: 22rem;
  }

  @media screen and (min-width: $break-point-dynamic) {
    float: left;
    margin-left: calc(50% - 24rem);
  }
}
// >>>>>
// <<< link
.content {
  @media print {
    padding-bottom: 1rem;
  }
}
// >>>


hy-drawer {
  position: relative; // inline
  padding: 1rem 0; // inline

  @media screen {
    padding: 2rem 1rem; // inline
    min-height: 640px; // link
    min-height: 100vh; // link

    // <<< link
    > .hy-drawer-content.hy-drawer-left {
      width: calc(18rem + 1px);
      left: -17.5rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    }

    --hy-drawer-width: calc(18rem + 1px);
    --hy-drawer-slide-width: 17.5rem;
    --hy-drawer-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

    &.loaded {
      min-height: 0;
      padding: 0;
    }
    // >>>
  }

  @media screen and (min-width: $break-point-3) {
    // <<< inline
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    margin-left: 0;
    // >>>

    > .hy-drawer-content.hy-drawer-left { box-shadow: none; } // link
    --hy-drawer-box-shadow: none; // link
  }

  @media screen and (min-width: $break-point-dynamic) {
    width: calc(50% - 28rem); // inline
    > .hy-drawer-content.hy-drawer-left  { width: calc(50% - 28rem); left: calc(-50% + 28.5rem); } // link
    --hy-drawer-width: calc(50% - 28rem); // link
    --hy-drawer-slide-width: calc(50% - 28.5rem); // link
  }
}


.sidebar-bg {
  background: #fff center / cover;
}
.sidebar-bg .sidebar-overlay {
  background-size: cover;
}

.sidebar-box {
  display: flex;
  justify-content: center;
}
.me {
  width: 6.5rem;
  height: 6.5rem;
  align-self: center;
  border-radius: 100%;
  position: relative;

  @media screen and (min-width: $break-point-1) {
    width: 7rem;
    height: 7rem;
  }

  @media screen and (min-width: $break-point-2) {
    width: 6.5rem;
    height: 6.5rem;
  }

  @media screen and (min-width: $break-point-3) {
    width: 7rem;
    height: 7rem;
  }
}


.sidebar-sticky {
  // <<<<< INLINE
  position: relative;
  z-index: 3;

  @media screen {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 2.5rem;
    left: 2.5rem;
    bottom: 0;
    padding-bottom: 5.0rem;
  }

  @media screen and (min-width: $break-point-dynamic) {
    left: auto;
    width: 15rem;
  }
  // >>>>>
}
.sidebar-sticky::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.sidebar-sticky > .sidebar-social > ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-about {
  text-align: center;
}
.sidebar-about > h2 {
  display: grid;
}
.sidebar-about > p {
  font-size: 0.8em;
}

.sidebar-hits {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  height: 20px;
}
.sidebar-hits > a {
  border-bottom: 0px;
}

a.sidebar-nav-item {
  width:100%;
  font-weight: normal;
  display: block;
  line-height: 1.75;
  padding: .25rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a.sidebar-nav-subitem {
  font-weight: normal;
  display: block;
  line-height: 1.75;
  padding: .25rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list-wrapper {
  display: flex;
}

.list-body {
  margin:4px;
}

.folder {
  color:#eee;
  width:30px;
  height:30px;
  position: absolute;
  text-align: center;
  cursor:pointer;
  right:10px;
}

.folder:hover {
  background: #000;
  opacity: 0.1;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  list-style: none;
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

.right-side {
  width:100%;
  margin-left: auto;
  margin-right: auto;

  .ad-first{
    text-align: center;
  }


  @media screen {
    max-width: 38rem;
    //min-height: 100vh;

    .ad-second{
      display: none;
    }
  }

  @media screen and (min-width: $break-point-2) {
    .ad-second{
      text-align: center;
      display: block;
    }
  }

  @media screen and (min-width: $break-point-3) {
    margin-left: 22rem;
    max-width: 42rem;
  }

  @media screen and (min-width: $break-point-4) {
    float: left;
    margin-left: 22rem;
  }

  @media screen and (min-width: 84em) {
    width:160px;
    margin-left: 0rem;
    margin-right:0rem;
    margin-top: 11rem;
  }

  @media screen and (min-width: 92em) {
    width:300px;
    margin-left: 0rem;
    margin-right:0rem;
    margin-top: 11rem;
  }

}